@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To HealthCare Hospital</h1>
   
</div>




<p><a href="~/Admin/Login" class="btn btn-success">Admin Login &raquo;</a></p>

<p><a href="~/Reception/Login" class="btn btn-success">Reception Login &raquo;</a></p>

<p><a href="~/Doctors/Login" class="btn btn-success">Doctor Login &raquo;</a></p>