@model Mainproject_HealthCare.Models.Admin

<html>
    <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    </head>
    <body>

    <h1>Admin Login</h1>

    <hr />

    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post">
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
       
    </form>

@*    <script>
        function ButtonViewModel() {
            var self = this;

            self.handleButtonClick = function () {
                alert("Button clicked!");
                window.location.href = "LoginSuccess"; // Replace "next-page.html" with the desired URL
            };
        }

        var viewModel = new ButtonViewModel();
        ko.applyBindings(viewModel);
    </script>*@

    </body>
</html>
